<div>
  <% if (data.teaser) { %>
    <h3>
      <% if (data.credentials) { %>
        <a href="/admin/edit/<%- data.doc._id %>">[edit]</a>
      <% } %>
      <a href="/doc/<%- data.doc._id %>"><%- data.doc.title %> <small><%- data.doc._rev %></small></a>
    </h3>
  <% } else { %>
    <h2>
      <% if (data.credentials) { %>
        <a href="/admin/edit/<%- data.doc._id %>">[edit]</a>
      <% } %>
      <%- data.doc.title %> <small><%- data.doc._rev %></small>
    </h2>
  <% } %>
  <dl class="inline">
    <% if (data.doc.createdAt) { %>
    <dt>Created at</dt><dd><%- data.doc.createdAt %></dd>
    <% } %>
    <% if (data.doc.updatedAt) { %>
    <dt>Updated at</dt><dd><%- data.doc.updatedAt %></dd>
    <% } %>
  </dl>
  <% if (data.doc.tags && data.doc.tags.length) { %>
  <ul class="inline">
    <% data.doc.tags.forEach((tag) => { %>
    <li style="background: <%- tag.color %>;" class="label <%- tag.key %>"><%- tag.text %></li>
    <% }) %>
  </ul>
  <% } %>
  <div>
    <%= data.doc.content || '<i>No content yet.</i>' %>
  </div>
</div>
