<div>
  <% if (data.teaser) { %>
    <h3>
      <% if (data.credentials) { %>
        <a href="/admin/edit/<%- data.doc._id %>">[edit]</a>
      <% } %>
      <a href="/doc/<%- data.doc._id %>"><%- data.doc.title %> <small><%- data.doc._rev %></small></a>
    </h3>
  <% } else { %>
    <h2>
      <% if (data.credentials) { %>
        <a href="/admin/edit/<%- data.doc._id %>">[edit]</a>
      <% } %>
      <%- data.doc.title %> <small><%- data.doc._rev %></small>
    </h2>
  <% } %>
  <div>
    <%= data.doc.content || '<i>No content yet.</i>' %>
  </div>
</div>
